ssfm-java/exported_files/xsd/main.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- XSD Geral -->
	<xs:include schemaLocation="GestaoProducao.xsd"/>
	<xs:include schemaLocation="GestaoChaoFabrica.xsd"/>
	<xs:include schemaLocation="ChaoFabricaSimpleTypes.xsd"/>

	<xs:element name="ShopFloor_Report">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="GestaoChaoFabrica" type="TgestaoChaoFabrica"/>
				<xs:element name="GestaoProducao" type="TgestaoProducao"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>